.containerBi {
    padding-left: 300px;
    padding-top: 20px;
    font-size: 25px;
}

.Titlebi {
    font-weight: bolder;
}

label {
    display: inline-block;
    padding-left: 30px;
    height: 100px;
}

.buttonbi {
    padding-left: 250px;
}

button {
    padding: 10px;
    background-color: #000000;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
}

.ShowXM {
    padding-top: 40px;
    padding-left: 295px;
}

input[type=number],
select {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=function],
select {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}