* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    color: #fff;
}

.container {
    display: flex;
}

.sidebar {
    width: 400px;
    background-color: rgba(22, 22, 22, 1);
    height: 950px;
    top: 0;
    position: sticky;
}

.sidebar-data {
    padding: .75em 1em;
    display: block;
    transition: .15s;
    border-radius: 5px;
}

.sidebar-data:hover {
    background-color: rgba(255, 255, 255, .1);
}

.sidebar-title {
    display: flex;
    font-size: 23px;
    justify-content: space-between;
}

.sidebar-title span i {
    display: inline-block;
    width: 1.5em;
}

.sidebar-content {
    padding-top: .25em;
    height: 0;
    overflow: hidden;
}

.sidebar-data.open>.sidebar-content {
    height: auto;
}

.sidebar-data.plain {
    color: #fff;
    text-decoration: none;
}

.sidebar-data.plain:hover {
    text-decoration: underline;
}

.sidebar-data.plain i {
    display: inline-block;
    width: 1.7em;
}